.wrapper {
	padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.header {
   margin: 10;
   position: relative;
   height: 90px;
   border-bottom: 5px solid #ddd;
}


.logo {
   position: absolute; 
   left: 0;
   bottom: 15px;
}
.nav {
	clear: both;
	position: absolute;
	right: 0;
	bottom: 15px;
}

}
.nav a {
  color: #5a5a5a;
  font-family: 'Shift', sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding-right: 10px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}
