*{
	border: 1px dashed black;
	margin: 0;
   	padding: 0;
   	border: 0;
   	outline: 0;
}

body{
	font-family: Arial;
}

a{
	text-decoration: none;
}

#wrapper{
	margin-left: 10em;
	margin-right: 10em;
	margin-top: 3em;
}

#header{
	border-bottom: 5px solid #ddd;
	position: relative;
	height: 120px;
}

#logo{
	float: left;
	height: 110px
}

#nav{
	float: right;
	padding-top: 1.3em;
}

#nav ul{
	display: inline-block;
	clear: both;
}

#nav > ul > li{
	display: inline-block;
	font-family: Arial;
	font-size: 1em;
	padding-right: 1em;
	
}

