body{
	font-family: Arial;
}

#wrapper{
	margin-left: 8em;
	margin-right: 8em;
}

#logo{
	float: left;
}

#nav{
	float: right;
	padding-left: 3em;
}

#nav ul{
	display: inline-block;
}

#nav > ul > li{
	display: inline-block;
	font-family: Arial;
	font-size: 1.5em;
}

