@charset "UTF-8";
/* CSS Document */


body {

	margin: 0;

	padding: 0;

	background: #fff439;

	font-family: Verdana, Arial, sans-serif;

	font-size: 12px;

	color: #000000;

}



h1, h2, h3 {

	margin: 0;

	font-weight: normal;

	color: #900;

}



h1 {

	font-size: 197%;

}



h2 {

	font-size: 167%;

}



h3 {

	font-size: 100%;

	font-weight: bold;

}


table{
	border: 1px, black;
}


ol {

	margin-left: 0;

	padding-left: 0;

	list-style-position: inside;

}



ul {

	margin-left: 0;

	padding-left: 0;

	list-style: none;

}



ul li {

	padding-left: 0px;

}







a {

	color: #ba0200;

}



a:hover {

	text-decoration: none;

	color: #FF1200;

}



img {

	border: none;
	
	margin:2px;

}

tr{border:thin;}



hr {

	display: none;

}

small{
    size: 9;
}



/* Header */



#header {

	width: 700px;

	height: 200px;

	margin: 0 auto;
	
	text-align:center;
}



/* Logo */



#logo {

	height: 200px;

}


#logo h1, #logo h2 {

	text-align: center;
	

}



#logo h1 {

	padding-top: 40px;

	font-size: 350%;

}



#logo h2 {

	font-size: 150%;

}



#logo a {

	text-decoration: none;

	color: #3F586B;

}



/* Menu */



#menu {

	padding-top: 10;
	margin-bottom: 10;

}
#EKAK {

	padding-top: 10;
	margin-bottom: 10;

}



#menu ul {

	margin: 0;

	padding: 10px 0 0 0;

	list-style: none;

	line-height: normal;

	text-align: center;

}



#menu li {

	display: inline;

	margin: 0;

	padding: 0;

}



#menu a {

	padding: 0 20px;

	text-decoration: none;

	font-size: 136%;

	font-weight: bold;

	color: #ba0200
	;

}



#menu a:hover {

	text-decoration: underline;

}



#menu .active a {

	color: #FFFFFF;

}



/* Page */



#page {

	width: 520px;

	margin: auto auto;

	padding: 40px 0;
	
	text-align: justify;

}



/* Content */

#content-no-sidebar {

	float: left;

	width: 520px;
	margin-top:auto;

	padding-top: 15px;
	
	text-align:justify;
	
	height:auto;

}
#content-film {

	float: left;

	width: 700px;
	margin-top:40px;
	size: 10px;

	padding-top: 15px;
	
	text-align: center;
	
	height:auto;

}
#content-film a{
	text-decoration:none;
	color:#000;
}
#content {

	float: left;

	width: 300px;
	margin-top:auto;

	padding-top: 15px;
	
	text-align:justify;
	
	height:auto;

}
#under {

	width: 520px;

	margin: 0 auto;

	padding: 13px 0;
	
	float:left;
	
	text-align: justify;

}



/* Sidebar */



#sidebar {

	float: right;

	width: 210px;
	
    margin-top:auto;

	padding-top: 15px;
    
    text-align:left;
	

}

#sidebar a {

	margin-top:40px;

	padding: 60 0px;

	text-decoration: none;

	font-size: 132%;

	font-weight: bold;

	color: #ba0200

	;

}

#sidebar a:hover {

	text-decoration: underline;

}


.boxed {
	padding:1px 1px;
	border-bottom:0;
	border-right:0;

}

.boxed-right{
	padding:1px 1px;
	border-bottom:0;
}
/* Style for forr.php */
#hedersledamoter {
    width: 50% ;
    margin-right:0px;
}

#ekakforr {
    width: 50% ;
    float left;
    
    
}
